


.container{
  width: 80%;
  margin: 5% auto;


  /* background Form */
  .form{
    margin: 0 auto;
    padding: 25px 33px;
    height: 600px;
    width: 413px;
    left: 434px;
    top: 60px;
    border-radius: 8px;
    background-color: #F9F9FE;

    /* It-incubator */
    & h2,{
      text-align: center;
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      margin: 0 auto;
      font-weight: 600;
      font-size: 26px;
      line-height: 39px;
    }

    /* It-sign-Up */
    & h3{
      font-family: 'Poppins', sans-serif;
      margin-top: 32px;
      font-style: normal;
      font-weight: 600;
    }


    /* Input Block with Error Messages */
    .formInputBlock{
      height: 73px;

      .customInput{
        position: relative;
        width: 347px;
        height: 48px;
        display: flex;
        margin: 24px auto 0;
        align-items: end;


        /* password icon if needed */
        .showPasswordIcon{
          position: absolute;
          right: 16px;
          bottom: 11px;
        }

        & label{
          position: absolute;
          color: #24254A;
          opacity: 0.5;
          font-weight: 400;
          font-size: 13px;
          line-height: 20px;
          top: 0;
          left: 0;
        }

        & input {
          border: none;
          width: 100%;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          outline: none;
          border-bottom: 1px solid rgba(36, 37, 74, .2);
          background-image:none;
          background-color:transparent;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;

          &:focus{
            border-bottom: 1px solid black;
          }
        }

      }

    }

    .errorMessage{
      color: red;
      font-family: 'Poppins', sans-serif;
      font-weight: 600;
    }



    .buttonBlock{
      display: flex;
      justify-content: space-around;
      padding: 40px 0;

      .backToLoginLink{
        text-decoration: none;
        text-align: center;
        font-weight: 500;
        font-size: 16px;
        border: none;
        width: 124px;
        height: 36px;
        padding: 5px;
        color: #21268F;
        background-color: #D7D8EF;
        border-radius: 30px;
      }


      .submitButton {
        font-weight: 500;
        cursor: pointer;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.01em;
        border: none;
        width: 187px;
        height: 36px;
        background: #21268F;
        border-radius: 30px;
        color: #ECECF9;
      }


    }

  }

}